<html>
    <head>
        <script src="static/jquery.min.js" type="text/javascript"></script>
        <script src="static/bootstrap.min.js" type="text/javascript"></script>
        <script src="static/FileSaver.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="static/style.css">

    </head>
    <body style="background-color: lightblue">
        <div class="center">
			<div>
				Connection to the database:
				<select id="connection_types" name="connection_types" onchange="changeConnectionType()">
					<option value="sqlite" selected="selected">SQLite Connection</option>
					<option value="oracle">Oracle Connection</option>
				</select>
				<br />
				<div id="sqlite_conn_parameters" style="display:">
					<p><b>Parameters of connection to the SQLite database:</b></p>
					SQLite Database Path:&nbsp;&nbsp;<input type="text" id="sqlite_db_path" value="sap.sqlite"></input><br />
				</div>
				<div id="oracle_conn_parameters" style="display:none">
					<p><b>Parameters of connection to the Oracle database:</b></p>
					Oracle Hostname:&nbsp;&nbsp;<input type="text" id="oracle_hostname" value="127.0.0.1"></input><br />
					Oracle Port:&nbsp;&nbsp;<input type="text" id="oracle_port" value="1521"></input><br />
					Oracle SID:&nbsp;&nbsp;<input type="text" id="oracle_sid" value="XE"></input><br />
					Oracle Username:&nbsp;&nbsp;<input type="text" id="oracle_username" value="system"></input><br />
					Oracle Password:&nbsp;&nbsp;<input type="text" id="oracle_password" value="oracle"></input><br />
				</div>
			</div>
			<br />
			<div>
				Process to extract:
				<select id="available_processes" name="available_processes" onchange="changeProcess()">
					<option value="o2c" selected="selected">Order-to-Cash</option>
					<option value="ap_ar">Accounts Payable/Receivable</option>
					<option value="p2p">Procure-to-Pay</option>
				</select>
				<br />
				<div id="o2c" style="display:">
					<p><b>Order-to-Cash</b></p>
					<table border="0" style="width: 100%">
						<tr>
							<td style="width: 40%">
								<img src="static/o2c_red.png">
								</img>
							</td>
							<td style="width: 60%">
								Extraction Type:
								<select id="o2c_ext_type" name="o2c_ext_type" onchange="o2cExtChange()">
									<option value="o2c_1d_log_extractor" selected="selected">XES</option>
									<option value="o2c_1d_dataframe_extractor">CSV</option>
									<option value="o2c_obj_centric_log">Object-Centric Log</option>
								</select>
								<br />
								<div id="o2c_log" style="display:">
									<p>Insert the parameters for the log extraction:</p>
									Reference document type: <input type="text" id="o2c_log_reference_type" value="Order" /> <br />
									Minimum extraction date: <input type="text" id="o2c_log_min_ext_date" value="2020-12-21 00:00:00" /> <br />
									Fiscal year: <input type="text" id="o2c_log_fiscal_year" value="2020" /> <br />
									Client: <input type="text" id="o2c_log_client" value="800" /> <br />
									<input type="checkbox" id="o2c_log_include_changes" name="o2c_log_include_changes" checked>Include invoices</input><br />
  									<input type="checkbox" id="o2c_log_include_payments" name="o2c_log_include_payments" checked>Include payments</input><br />
									<button onclick="javascript:o2cGraph()">Show Document Types Graph</button>
									<button onclick="javascript:o2cChangeList()">Show Changes List</button>
									<button onclick="javascript:showO2cErExplanation()">Shows the explanation of the ER diagram</button>
								</div>
								<div id="o2c_dataframe" style="display: none">
									<p>Insert the parameters for the CSV extraction:</p>
									Reference document type: <input type="text" id="o2c_df_reference_type" value="Order" /> <br />
									Minimum extraction date: <input type="text" id="o2c_df_min_ext_date" value="2020-12-21 00:00:00" /> <br />
									Fiscal year: <input type="text" id="o2c_df_fiscal_year" value="2020" /> <br />
									Client: <input type="text" id="o2c_df_client" value="800" /> <br />
									<input type="checkbox" id="o2c_df_include_changes" name="o2c_df_include_changes" checked>Include invoices</input><br />
  									<input type="checkbox" id="o2c_df_include_payments" name="o2c_df_include_payments" checked>Include payments</input><br />
									<button onclick="javascript:o2cGraph()">Show Document Types Graph</button>
									<button onclick="javascript:o2cChangeList()">Show Changes List</button>
									<button onclick="javascript:showO2cErExplanation()">Shows the explanation of the ER diagram</button>
								</div>
								<div id="o2c_obj" style="display: none">
									<p>Insert the parameters for the object-centric log extraction:<br />
									Minimum extraction date: <input type="text" id="o2c_obcen_min_ext_date" value="2020-12-21 00:00:00" /> <br />
									Fiscal year: <input type="text" id="o2c_obcen_fiscal_year" value="2020" /> <br />
									Client: <input type="text" id="o2c_obcen_client" value="800" /> <br />
									<input type="checkbox" id="o2c_obcen_include_changes" name="o2c_obcen_include_changes" checked>Include invoices</input><br />
  									<input type="checkbox" id="o2c_obcen_include_payments" name="o2c_obcen_include_payments" checked>Include payments</input><br />
									<button onclick="javascript:o2cGraph()">Show Document Types Graph</button>
									<button onclick="javascript:o2cChangeList()">Show Changes List</button>
									<button onclick="javascript:showO2cErExplanation()">Shows the explanation of the ER diagram</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div id="ap_ar" style="display: none">
					<p><b>Accounts Payable / Accounts Receivable</b></p>
					<table border="0" style="width: 100%">
						<tr>
							<td style="width: 40%">
								<img src="static/bkpf_red.png" style="width: 90%">
								</img>
							</td>
							<td style="width: 60%">
								Extraction Type:
								<select id="apar_ext_type" name="apar_ext_type" onchange="apArExtChange()">
									<option value="document_flow_dataframe">Document flow (CSV)</option>
									<option value="document_flow_log" selected="selected">Document flow (XES)</option>
									<option value="doc_flow_transactions_dataframe">Document flow transactions (CSV)</option>
									<option value="doc_flow_transactions_xes">Document flow transactions (XES)</option>
									<option value="apar_obj_centr_log">Object-Centric Log</option>
								</select>
								<br />
								<div id="single_doc_transactions_dataframe" style="display: none">
									<p>Insert the parameters for the CSV extraction (single transactions):</p>
								</div>
								<div id="single_doc_transactions_log" style="display: none">
									<p>Insert the parameters for the XES extraction (single transactions):</p>
								</div>
								<div id="document_flow_dataframe" style="display: none">
									<p>Insert the parameters for the CSV extraction (document flow):</p>
									Reference document type: <input type="text" id="apar_df_csv_reference_type" value="Goods receipt"></input> <br/>
									Fiscal year: <input type="text" id="apar_df_csv_fiscal_year" value="1997"></input> <br/>
									Client: <input type="text" id="apar_df_csv_client" value="800"></input> <br/>
									Company code: <input type="text" id="apar_df_csv_company_code" value="1000"></input> <br/>
									<button onclick="javascript:aparGraph()">Show Document Types Graph</button>
								</div>
								<div id="document_flow_log" style="display: ">
									<p>Insert the parameters for the XES extraction (document flow):</p>
									Reference document type: <input type="text" id="apar_df_xes_reference_type" value="Goods receipt"></input> <br/>
									Fiscal year: <input type="text" id="apar_df_xes_fiscal_year" value="1997"></input> <br/>
									Client: <input type="text" id="apar_df_xes_client" value="800"></input> <br/>
									Company code: <input type="text" id="apar_df_xes_company_code" value="1000"></input> <br/>
									<button onclick="javascript:aparGraph()">Show Document Types Graph</button>
								</div>
								<div id="doc_flow_transactions_dataframe" style="display: none">
									<p>Insert the parameters for the CSV extraction (document flow transactions):</p>
									Reference document type: <input type="text" id="apar_dft_csv_reference_type" value="Goods receipt"></input> <br/>
									Fiscal year: <input type="text" id="apar_dft_csv_fiscal_year" value="1997"></input> <br/>
									Client: <input type="text" id="apar_dft_csv_client" value="800"></input> <br/>
									Company code: <input type="text" id="apar_dft_csv_company_code" value="1000"></input> <br/>
									<button onclick="javascript:aparGraph()">Show Document Types Graph</button>
								</div>
								<div id="doc_flow_transactions_xes" style="display: none">
									<p>Insert the parameters for the XES extraction (document flow transactions):</p>
									Reference document type: <input type="text" id="apar_dft_xes_reference_type" value="Goods receipt"></input> <br/>
									Fiscal year: <input type="text" id="apar_dft_xes_fiscal_year" value="1997"></input> <br/>
									Client: <input type="text" id="apar_dft_xes_client" value="800"></input> <br/>
									Company code: <input type="text" id="apar_dft_xes_company_code" value="1000"></input> <br/>
									<button onclick="javascript:aparGraph()">Show Document Types Graph</button>
								</div>
								<div id="apar_obj_centr_log" style="display: none">
									<p>Insert the parameters for the object-centric log extraction:</p>
									Fiscal year: <input type="text" id="apar_ocel_fiscal_year" value="1997"></input> <br/>
									Client: <input type="text" id="apar_ocel_client" value="800"></input> <br/>
									Company code: <input type="text" id="apar_ocel_company_code" value="1000"></input> <br/>
									<button onclick="javascript:aparGraph()">Show Document Types Graph</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div id="p2p" style="display: none">
					<p><b>Procure-to-Pay</b></p>
					<table border="0" style="width: 100%">
						<tr>
							<td style="width: 40%">
								<img src="static/other.png">
								</img>
							</td>
							<td style="width: 60%">
								Extraction Type:
								<select id="p2p_ext_type" name="p2p_ext_type" onchange="p2pExtChange()">
									<option value="p2p_1d_dataframe">CSV log</option>
									<option value="p2p_1d_log" selected="selected">XES log</option>
									<option value="p2p_ocel">Object-Centric Log</option>
								</select>
								<br />
								<div id="p2p_1d_dataframe" style="display: none">
									<p>Insert the parameters for the CSV extraction:</p>
									Central table for the extraction: <input type="text" id="p2p_csv_central_table" value="EKKO"></input> <br />
									Minimum extraction date: <input type="text" id="p2p_csv_min_ext_date" value="2014-01-01 00:00:00" /> <br />
									Fiscal year: <input type="text" id="p2p_csv_fiscal_year" value="2014" /> <br />
									Client: <input type="text" id="p2p_csv_client" value="800" /> <br />
									Company code: <input type="text" id="p2p_csv_company_code" value="1000" /> <br />
								</div>
								<div id="p2p_1d_log" style="display: ">
									<p>Insert the parameters for the XES extraction:</p>
									Central table for the extraction: <input type="text" id="p2p_xes_central_table" value="EKKO"></input> <br />
									Minimum extraction date: <input type="text" id="p2p_xes_min_ext_date" value="2014-01-01 00:00:00" /> <br />
									Fiscal year: <input type="text" id="p2p_xes_fiscal_year" value="2014" /> <br />
									Client: <input type="text" id="p2p_xes_client" value="800" /> <br />
									Company code: <input type="text" id="p2p_xes_company_code" value="1000" /> <br />
								</div>
								<div id="p2p_ocel" style="display: none">
									<p>Insert the parameters for the object-centric log extraction:</p>
									Minimum extraction date: <input type="text" id="p2p_ocel_min_ext_date" value="2014-01-01 00:00:00" /> <br />
									Fiscal year: <input type="text" id="p2p_ocel_fiscal_year" value="2014" /> <br />
									Client: <input type="text" id="p2p_ocel_client" value="800" /> <br />
									Company code: <input type="text" id="p2p_ocel_company_code" value="1000" /> <br />
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<br />
			<button onclick="javascript:extract()">Extract the Event Log</button>
        </div>
		<div class="center" id="o2cErExplanation" style="display: none">
			<p>In this part, we provide an explanation of the tables as shown in the ER diagram.</p>
			<p>The creation activities for the documents of each document type (e.g. Order, Delivery, Invoice), and the connections between them, are extracted from
			the table <b>VBFA</b>.</p>
			<p>The changes that happen to these documents (for example, the insertion of a new item in an existing order) are reported inside the tables <b>CDHDR</b> and <b>CDPOS</b>.</p>
			<p>The information about the payments is extracted from the <b>BKPF</b> and <b>BSEG</b> tables. These contain all the billing documents, and therefore
			invoices, payments, accounting documents are reported in these tables. These tables are linked to <b>VBFA</b> (sales order documents) and <b>CDHDR/CDPOS</b> (change tables).</p>
			<p><b>DD07T</b> and <b>T003T</b> are technical tables reporting the human-understandable names for each document type.</p>
		</div>
		<div class="center" id="o2cDfgDiv" style="display: none">
			<p>This graph shows the document types of the SAP instance related to the Order-to-Cash process.</p>
			<div id="o2cDfgVis">
			</div>
			<button onclick="javascript:updateDocTypesSelection()">Update Selection</button>
			<p>Select the ones that you want to consider in your event log, and click 'Update Selection':</p>
		</div>
		<div class="center" id="apaprDfgDiv" style="display: none">
			<p>This graph shows the document types of the SAP instance related to the AP/AR process.</p>
			<div id="aparDfgVis">
			</div>
		</div>
		<div class="center" id="o2cChangesListDiv" style="display: none">
			<p>This section shows the change activities of the SAP instance related to the Order-to-Cash process.</p>
			<button onclick="javascript:updateChangeActivitiesList()">Update Change Activities</button>
			<p>Select the ones that you want to consider in your event log, and click 'Update Change Activities'</p>
		</div>
    </body>
	<script type="text/javascript">
		var aparDfgInitialized = false;
		var o2cDfgInitialized = false;
		var o2cDfg = null;
		var o2cActivities = null;
		var o2cDfgSVG = null;
		var o2cChangeInitialized = false;
		var o2cAllChangeActivities = null;
		var o2cSelectedActivities = null;
		var o2cSelectedChangeActivities = null;
		
		function showO2cErExplanation() {
			document.getElementById("o2cErExplanation").style.display = "";
		}
		
		function updateDocTypesSelection() {
			o2cSelectedActivities = null;
			o2cSelectedActivities = [];
			var options = document.getElementsByClassName("o2cCreationActivities");
			var i = 0;
			while (i < options.length) {
				if (options[i].selected) {
					o2cSelectedActivities.push(options[i].value);
				}
				i++;
			}
		}
		
		function updateChangeActivitiesList() {
			o2cSelectedChangeActivities = null;
			o2cSelectedChangeActivities = [];
			var options = document.getElementsByClassName("o2cChangeActivitiesItem");
			var i = 0;
			while (i < options.length) {
				if (options[i].selected) {
					o2cSelectedChangeActivities.push(options[i].value);
				}
				i++;
			}
		}
		
		function o2cGraph() {
			if (!o2cDfgInitialized) {
				let db_type = document.getElementById("connection_types").value;
				let db_con_args = {};
				if (db_type == "sqlite") {
					db_con_args = getSqliteDbConArgs();
				}
				else if (db_type == "oracle") {
					db_con_args = getOracleDbConArgs();
				}
				var obj = {};
				obj["db_type"] = db_type;
				obj["db_con_args"] = db_con_args;
				obj = JSON.stringify(obj);
				obj = btoa(obj);
				$.get("http://localhost:5000/vbfaGetDfg?parameters="+obj, function(data) {
					o2cDfg = data["dfg"];
					o2cActivities = data["act_count"];
					o2cDfgSVG = data["ser"];
					
					o2cAllChangeActivities = [...o2cActivities];
					
					document.getElementById("o2cDfgVis").innerHTML = o2cDfgSVG;
					
					var selectt = document.createElement("select");
					selectt.setAttribute("multiple", "");
					selectt.setAttribute("id", "o2cDocTypesSelect");
					
					var i = 0;
					while (i < o2cActivities.length) {
						var option = document.createElement("option");
						option.setAttribute("class", "o2cCreationActivities");
						option.setAttribute("value", "Create "+o2cActivities[i][0]);
						option.setAttribute("selected", "");
						option.text = o2cActivities[i][0] + "(" + o2cActivities[i][1] + ")";
						selectt.appendChild(option);
						i++;
					}
					
					document.getElementById("o2cDfgDiv").appendChild(selectt);
					
					document.getElementById("o2cDfgDiv").style.display = "";
					o2cDfgInitialized = true;
				});
			}
		}

		function aparGraph() {
			if (!aparDfgInitialized) {
				let db_type = document.getElementById("connection_types").value;
				let db_con_args = {};
				if (db_type == "sqlite") {
					db_con_args = getSqliteDbConArgs();
				}
				else if (db_type == "oracle") {
					db_con_args = getOracleDbConArgs();
				}
				var obj = {};
				obj["db_type"] = db_type;
				obj["db_con_args"] = db_con_args;
				obj = JSON.stringify(obj);
				obj = btoa(obj);
				$.get("http://localhost:5000/bkpfGetDfg?parameters="+obj, function(data) {

					document.getElementById("aparDfgVis").innerHTML = data["dfg"];

					document.getElementById("aparDfgDiv").style.display = "";
					aparDfgInitialized = true;
				});
			}
		}
		
		function o2cChangeList() {
			if (!o2cChangeInitialized) {
				let db_type = document.getElementById("connection_types").value;
				let db_con_args = {};
				if (db_type == "sqlite") {
					db_con_args = getSqliteDbConArgs();
				}
				else if (db_type == "oracle") {
					db_con_args = getOracleDbConArgs();
				}
				var obj = {};
				obj["db_type"] = db_type;
				obj["db_con_args"] = db_con_args;
				obj = JSON.stringify(obj);
				obj = btoa(obj);
				
				
				$.get("http://localhost:5000/vbfaChangeActivityUtil?parameters="+obj, function(data) {
					o2cAllChangeActivities = data["changes_count"];
					
					var s = document.createElement("span");
					s.innerHTML = "<p><b>Changes related to the Orders:</b></p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);
					
					s = document.createElement("span");
					s.innerHTML = "<p>Status Changes:</p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);

					
					var selectt = document.createElement("select");
					selectt.setAttribute("multiple", "");
					selectt.setAttribute("id", "o2cChangeActivitiesListSelectOrderStatusChange");
					
					
					var i = 0;
					while (i < o2cAllChangeActivities.length) {
						if (o2cAllChangeActivities[i][0][2] == "VERKBELEG" && o2cAllChangeActivities[i][0][1] == 1) {
							var option = document.createElement("option");
							option.setAttribute("class", "o2cChangeActivitiesItem");
							option.setAttribute("value", o2cAllChangeActivities[i][0][0]);
							option.setAttribute("selected", "");
							option.text = o2cAllChangeActivities[i][0][0] + " ("+o2cAllChangeActivities[i][1]+")";
							selectt.appendChild(option);
						}
						i++;
					}
					
					document.getElementById("o2cChangesListDiv").appendChild(selectt);
					
					s = document.createElement("span");
					s.innerHTML = "<p>Database Changes:</p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);
					
					selectt = document.createElement("select");
					selectt.setAttribute("multiple", "");
					selectt.setAttribute("id", "o2cChangeActivitiesListSelectOrderDatabaseChange");
					
					
					var i = 0;
					while (i < o2cAllChangeActivities.length) {
						if (o2cAllChangeActivities[i][0][2] == "VERKBELEG" && o2cAllChangeActivities[i][0][1] == 2) {
							var option = document.createElement("option");
							option.setAttribute("class", "o2cChangeActivitiesItem");
							option.setAttribute("value", o2cAllChangeActivities[i][0][0]);
							option.setAttribute("selected", "");
							option.text = o2cAllChangeActivities[i][0][0] + " ("+o2cAllChangeActivities[i][1]+")";
							selectt.appendChild(option);
						}
						i++;
					}
					
					document.getElementById("o2cChangesListDiv").appendChild(selectt);
					
					s = document.createElement("span");
					s.innerHTML = "<p><b>Changes related to the Deliveries:</b></p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);
					
					s = document.createElement("span");
					s.innerHTML = "<p>Status Changes:</p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);
					
					selectt = document.createElement("select");
					selectt.setAttribute("multiple", "");
					selectt.setAttribute("id", "o2cChangeActivitiesListSelectDeliveryStatusChange");
					
					
					var i = 0;
					while (i < o2cAllChangeActivities.length) {
						if (o2cAllChangeActivities[i][0][2] == "LIEFERUNG" && o2cAllChangeActivities[i][0][1] == 1) {
							var option = document.createElement("option");
							option.setAttribute("class", "o2cChangeActivitiesItem");
							option.setAttribute("value", o2cAllChangeActivities[i][0][0]);
							option.setAttribute("selected", "");
							option.text = o2cAllChangeActivities[i][0][0] + " ("+o2cAllChangeActivities[i][1]+")";
							selectt.appendChild(option);
						}
						i++;
					}
					
					document.getElementById("o2cChangesListDiv").appendChild(selectt);
					
					s = document.createElement("span");
					s.innerHTML = "<p>Database Changes:</p>";
					document.getElementById("o2cChangesListDiv").appendChild(s);
					
					selectt = document.createElement("select");
					selectt.setAttribute("multiple", "");
					selectt.setAttribute("id", "o2cChangeActivitiesListSelectDeliveryDatabaseChange");
					
					
					var i = 0;
					while (i < o2cAllChangeActivities.length) {
						if (o2cAllChangeActivities[i][0][2] == "LIEFERUNG" && o2cAllChangeActivities[i][0][1] == 2) {
							var option = document.createElement("option");
							option.setAttribute("class", "o2cChangeActivitiesItem");
							option.setAttribute("value", o2cAllChangeActivities[i][0][0]);
							option.setAttribute("selected", "");
							option.text = o2cAllChangeActivities[i][0][0] + " ("+o2cAllChangeActivities[i][1]+")";
							selectt.appendChild(option);
						}
						i++;
					}
					
					document.getElementById("o2cChangesListDiv").appendChild(selectt);

					document.getElementById("o2cChangesListDiv").style.display = "";
					o2cChangeInitialized = true;
				});
			}
		}
		
		function changeConnectionType() {
			let connection_type = document.getElementById("connection_types").value;
			if (connection_type == "sqlite") {
				document.getElementById("sqlite_conn_parameters").style.display = "";
				document.getElementById("oracle_conn_parameters").style.display = "none";
			}
			else if (connection_type == "oracle") {
				document.getElementById("sqlite_conn_parameters").style.display = "none";
				document.getElementById("oracle_conn_parameters").style.display = "";
			}
		}
		
		function changeProcess() {
			let proc = document.getElementById("available_processes").value;
			if (proc == "o2c") {
				document.getElementById("o2c").style.display = "";
				document.getElementById("p2p").style.display = "none";
				document.getElementById("ap_ar").style.display = "none";
			}
			else if (proc == "ap_ar") {
				document.getElementById("o2c").style.display = "none";
				document.getElementById("p2p").style.display = "none";
				document.getElementById("ap_ar").style.display = "";
			}
			else if (proc == "p2p") {
				document.getElementById("o2c").style.display = "none";
				document.getElementById("p2p").style.display = "";
				document.getElementById("ap_ar").style.display = "none";
			}
		}
		
		function o2cExtChange() {
			let ext = document.getElementById("o2c_ext_type").value;
			if (ext == "o2c_1d_log_extractor") {
				document.getElementById("o2c_log").style.display = "";
				document.getElementById("o2c_dataframe").style.display = "none";
				document.getElementById("o2c_obj").style.display = "none";
			}
			else if (ext == "o2c_1d_dataframe_extractor") {
				document.getElementById("o2c_log").style.display = "none";
				document.getElementById("o2c_dataframe").style.display = "";
				document.getElementById("o2c_obj").style.display = "none";
			}
			else if (ext == "o2c_obj_centric_log") {
				document.getElementById("o2c_log").style.display = "none";
				document.getElementById("o2c_dataframe").style.display = "none";
				document.getElementById("o2c_obj").style.display = "";
			}
		}
		
		function apArExtChange() {
			let ext = document.getElementById("apar_ext_type").value;
			
			document.getElementById("single_doc_transactions_dataframe").style.display = "none";
			document.getElementById("single_doc_transactions_log").style.display = "none";
			document.getElementById("document_flow_dataframe").style.display = "none";
			document.getElementById("document_flow_log").style.display = "none";
			document.getElementById("doc_flow_transactions_dataframe").style.display = "none";
			document.getElementById("doc_flow_transactions_xes").style.display = "none";
			document.getElementById("apar_obj_centr_log").style.display = "none";
			
			if (ext == "single_doc_transactions_dataframe") {
				document.getElementById("single_doc_transactions_dataframe").style.display = "";
			}
			else if (ext == "single_doc_transactions_log") {
				document.getElementById("single_doc_transactions_log").style.display = "";
			}
			else if (ext == "document_flow_dataframe") {
				document.getElementById("document_flow_dataframe").style.display = "";
			}
			else if (ext == "document_flow_log") {
				document.getElementById("document_flow_log").style.display = "";
			}
			else if (ext == "doc_flow_transactions_dataframe") {
				document.getElementById("doc_flow_transactions_dataframe").style.display = "";
			}
			else if (ext == "doc_flow_transactions_xes") {
				document.getElementById("doc_flow_transactions_xes").style.display = "";
			}
			else if (ext == "apar_obj_centr_log") {
				document.getElementById("apar_obj_centr_log").style.display = "";
			}
		}
		
		function p2pExtChange() {
			let ext = document.getElementById("p2p_ext_type").value;
			
			document.getElementById("p2p_1d_dataframe").style.display = "none";
			document.getElementById("p2p_1d_log").style.display = "none";
			document.getElementById("p2p_ocel").style.display = "none";
			
			if (ext == "p2p_1d_dataframe") {
				document.getElementById("p2p_1d_dataframe").style.display = "";
			}
			else if (ext == "p2p_1d_log") {
				document.getElementById("p2p_1d_log").style.display = "";
			}
			else if (ext == "p2p_ocel") {
				document.getElementById("p2p_ocel").style.display = "";
			}
		}
		
		function extract() {
			let db_type = document.getElementById("connection_types").value;
			let db_con_args = {};
			if (db_type == "sqlite") {
				db_con_args = getSqliteDbConArgs();
			}
			else if (db_type == "oracle") {
				db_con_args = getOracleDbConArgs();
			}
			let process = document.getElementById("available_processes").value;
			let ext_type = "";
			let ext_args = {};
			if (process == "o2c") {
				ext_type = document.getElementById("o2c_ext_type").value;
				ext_args = getO2Cparameters(ext_type);
			}
			else if (process == "ap_ar") {
				ext_type = document.getElementById("apar_ext_type").value;
				ext_args = getAPARparameters(ext_type);
			}
			else if (process == "p2p") {
				ext_type = document.getElementById("p2p_ext_type").value;
				ext_args = getP2Pparameters(ext_type);
			}
			var obj = {};
			obj["db_type"] = db_type;
			obj["db_con_args"] = db_con_args;
			obj["process"] = process;
			obj["ext_type"] = ext_type;
			obj["ext_args"] = ext_args;
			console.log(obj);
			obj = JSON.stringify(obj);
			obj = btoa(obj);
			window.open("http://localhost:5000/downloadLog?parameters="+obj);
		}
		
		function getSqliteDbConArgs() {
			let db_con_args = {};
			db_con_args["path"] = document.getElementById("sqlite_db_path").value;
			return db_con_args;
		}
		
		function getOracleDbConArgs() {
			let db_con_args = {};
			db_con_args["hostname"] = document.getElementById("oracle_hostname").value;
			db_con_args["port"] = document.getElementById("oracle_port").value;
			db_con_args["sid"] = document.getElementById("oracle_sid").value;
			db_con_args["username"] = document.getElementById("oracle_username").value;
			db_con_args["password"] = document.getElementById("oracle_password").value;
			return db_con_args;
		}
		
		function getO2Cparameters(ext_type) {
			var ret = null;
			if (ext_type == "o2c_1d_log_extractor") {
				ret = getO2CparametersXES(ext_type);
			}
			else if (ext_type == "o2c_1d_dataframe_extractor") {
				ret = getO2CparametersCSV(ext_type);
			}
			else if (ext_type == "o2c_obj_centric_log") {
				ret = getO2CparametersOL(ext_type);
			}
			if (o2cSelectedActivities != null) {
				ret["allowed_act_doc_types"] = o2cSelectedActivities;
			}
			if (o2cSelectedChangeActivities != null) {
				ret["allowed_act_changes"] = o2cSelectedChangeActivities;
			}
			console.log(ret);
			return ret;
		}
		
		function getO2CparametersXES(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("o2c_log_reference_type").value;
			ext_args["min_extr_date"] = document.getElementById("o2c_log_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("o2c_log_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("o2c_log_client").value;
			ext_args["enable_changes"] = document.getElementById("o2c_log_include_changes").checked;
			ext_args["enable_payments"] = document.getElementById("o2c_log_include_payments").checked;
			return ext_args;
		}
		
		function getO2CparametersCSV(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("o2c_df_reference_type").value;
			ext_args["min_extr_date"] = document.getElementById("o2c_df_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("o2c_df_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("o2c_df_client").value;
			ext_args["enable_changes"] = document.getElementById("o2c_df_include_changes").checked;
			ext_args["enable_payments"] = document.getElementById("o2c_df_include_payments").checked;
			return ext_args;
		}
		
		function getO2CparametersOL(ext_type) {
			let ext_args = {};
			ext_args["min_extr_date"] = document.getElementById("o2c_obcen_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("o2c_obcen_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("o2c_obcen_client").value;
			ext_args["enable_changes"] = document.getElementById("o2c_obcen_include_changes").checked;
			ext_args["enable_payments"] = document.getElementById("o2c_obcen_include_payments").checked;
			return ext_args;
		}
		
		function getAPARparameters(ext_type) {
			if (ext_type == "single_doc_transactions_dataframe") {
				return getAPARparametersSTCSV(ext_type);
			}
			else if (ext_type == "single_doc_transactions_log") {
				return getAPARparametersSTXES(ext_type);
			}
			else if (ext_type == "document_flow_dataframe") {
				return getAPARparametersDFCSV(ext_type);
			}
			else if (ext_type == "document_flow_log") {
				return getAPARparametersDFXES(ext_type);
			}
			else if (ext_type == "doc_flow_transactions_dataframe") {
				return getAPARparametersDFTCSV(ext_type);
			}
			else if (ext_type == "doc_flow_transactions_xes") {
				return getAPARparametersDFTXES(ext_type);
			}
			else if (ext_type == "apar_obj_centr_log") {
				return getAPARparametersOL(ext_type);
			}
		}
		
		function getAPARparametersSTCSV(ext_type) {
			let ext_args = {};
			return ext_args;
		}
		
		function getAPARparametersSTXES(ext_type) {
			let ext_args = {};
			return ext_args;
		}
		
		function getAPARparametersDFCSV(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("apar_df_csv_reference_type").value;
			ext_args["gjahr"] = document.getElementById("apar_df_csv_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("apar_df_csv_client").value;
			ext_args["bukrs"] = document.getElementById("apar_df_csv_company_code").value;
			return ext_args;
		}
		
		function getAPARparametersDFXES(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("apar_df_xes_reference_type").value;
			ext_args["gjahr"] = document.getElementById("apar_df_xes_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("apar_df_xes_client").value;
			ext_args["bukrs"] = document.getElementById("apar_df_xes_company_code").value;
			return ext_args;
		}
		
		function getAPARparametersDFTCSV(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("apar_dft_csv_reference_type").value;
			ext_args["gjahr"] = document.getElementById("apar_dft_csv_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("apar_dft_csv_client").value;
			ext_args["bukrs"] = document.getElementById("apar_dft_csv_company_code").value;
			return ext_args;
		}
		
		function getAPARparametersDFTXES(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("apar_dft_xes_reference_type").value;
			ext_args["gjahr"] = document.getElementById("apar_dft_xes_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("apar_dft_xes_client").value;
			ext_args["bukrs"] = document.getElementById("apar_dft_xes_company_code").value;
			return ext_args;
		}
		
		function getAPARparametersOL(ext_type) {
			let ext_args = {};
			ext_args["gjahr"] = document.getElementById("apar_ocel_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("apar_ocel_client").value;
			ext_args["bukrs"] = document.getElementById("apar_ocel_company_code").value;
			return ext_args;
		}
		
		function getP2Pparameters(ext_type) {
			if (ext_type == "p2p_1d_dataframe") {
				return getP2PparametersCSV(ext_type);
			}
			else if (ext_type == "p2p_1d_log") {
				return getP2PparametersXES(ext_type);
			}
			else if (ext_type == "p2p_ocel") {
				return getP2PparametersOCEL(ext_type);
			}
		}
		
		function getP2PparametersCSV(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("p2p_csv_central_table").value;
			ext_args["min_extr_date"] = document.getElementById("p2p_csv_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("p2p_csv_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("p2p_csv_client").value;
			ext_args["bukrs"] = document.getElementById("p2p_csv_company_code").value;
			return ext_args;
		}
		
		function getP2PparametersXES(ext_type) {
			let ext_args = {};
			ext_args["ref_type"] = document.getElementById("p2p_xes_central_table").value;
			ext_args["min_extr_date"] = document.getElementById("p2p_xes_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("p2p_xes_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("p2p_xes_client").value;
			ext_args["bukrs"] = document.getElementById("p2p_xes_company_code").value;
			return ext_args;
		}
		
		function getP2PparametersOCEL(ext_type) {
			let ext_args = {};
			ext_args["min_extr_date"] = document.getElementById("p2p_ocel_min_ext_date").value;
			ext_args["gjahr"] = document.getElementById("p2p_ocel_fiscal_year").value;
			ext_args["mandt"] = document.getElementById("p2p_ocel_client").value;
			ext_args["bukrs"] = document.getElementById("p2p_ocel_company_code").value;
			return ext_args;
		}
	</script>
</html>