<html>
    <head>
        <script src="static/jquery.min.js" type="text/javascript"></script>
        <script src="static/bootstrap.min.js" type="text/javascript"></script>
        <script src="static/FileSaver.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="static/style.css">

    </head>
    <body style="background-color: lightblue">
            <div class="center">
				<div id="step_zero" class="steps" style="display:">
                    <h1>Step 0 - Database Connection</h1>
                    <h4>Please insert in this page the parameters of connection to the database.</h4>
					<p><b>Parameters of connection to the Oracle database:</b></p>
					Oracle Hostname:&nbsp;&nbsp;<input type="text" id="oracle_hostname" value="127.0.0.1"></input><br />
					Oracle Port:&nbsp;&nbsp;<input type="text" id="oracle_port" value="1521"></input><br />
					Oracle SID:&nbsp;&nbsp;<input type="text" id="oracle_sid" value="XE"></input><br />
					Oracle Username:&nbsp;&nbsp;<input type="text" id="oracle_username" value="system"></input><br />
					Oracle Password:&nbsp;&nbsp;<input type="password" id="oracle_password" value="oracle"></input><br />
                    <br /><br />
                    Client ID: <input type="text" id="mandt" value="800"></input><br />
                    <br />
                    <button onclick="javascript:connect()">Connect</button>
				</div>
                <div id="first_step" class="steps" style="display: none">
                    <h1>Step 1 - Process Identification</h1>
                    <h4>In this page, you could identify a minimal set of tables for a given process in SAP.
                    This can be done either by selecting one of the mainstream tables (based on the number of records)
                    or selecting the tables related to an object type.</h4>
                    <p>Size of main tables:</p>
                    <div id="main_tables">
                        <table class="table">
                            <thead>
                                <th>Selected</th>
                                <th>Table</th>
                                <th>Number of records</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="EKKO_AAAAAAAAA_selected_step1_1" onclick="changeSelection('EKKO', '1_1')" /></td>
                                    <td>EKKO (P2P)</td>
                                    <td id="EKKO_size"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="RBKP_AAAAAAAAA_selected_step1_1" onclick="changeSelection('RBKP', '1_1')" /></td>
                                    <td>RBKP (P2P - invoicing)</td>
                                    <td id="RBKP_size"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="VBAK_AAAAAAAAA_selected_step1_1" onclick="changeSelection('VBAK', '1_1')" /></td>
                                    <td>VBAK (O2C)</td>
                                    <td id="VBAK_size"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="BKPF_AAAAAAAAA_selected_step1_1" onclick="changeSelection('BKPF', '1_1')" /></td>
                                    <td>BKPF (AP/AR)</td>
                                    <td id="BKPF_size"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Main object classes:</p>
                    <div id="main_object_classes" style="height: 150px; overflow: scroll">
                    </div>
                    <p>Selected tables:</p>
                    <div id="step1_2" style="height: 200px; overflow: scroll">
                    </div>
                    <button onclick="javascript:gotopage('second_step')">Go to Step 2</button>
                </div>
                <div id="second_step" class="steps" style="display: none">
                    <h1>Step 2 - Refinment of Tables</h1>
                    <h4>In this step, is possible to iteratively expand the set of tables, in order to include
                    a more significant set of tables in the extraction. Please click the expansion button
                    to expand the set of tables.</h4>
                    <button onclick="javascript:expand()">Expand the Set of Tables</button>
                    Current set of tables:
                    <div id="step2"  style="height: 200px; overflow: scroll">

                    </div>
                    <button onclick="javascript:gotopage('first_step')">Go to Step 1</button>
                    <button onclick="javascript:gotopage('third_step')">Go to Step 3</button>
                </div>
                <div id="third_step" class="steps" style="display: none">
                    <h1>Step 3 - Pre-processing</h1>
                    <h4>SAP is a multi-tenant system collecting information about different companies
                    and company codes. If you want to filter the extraction, please insert here the key parameters.</h4>
                     <button onclick="javascript:getPreprocessingParameters()">Pre-process</button>
                    <div id="step3">

                    </div>
                    <div id="step3_values" style="height: 200px; overflow: scroll">

                    </div>
                    <button onclick="javascript:gotopage('second_step')">Go to Step 2</button>
                    <button onclick="javascript:gotopage('fourth_step')">Go to Step 4</button>
                </div>
                <div id="fourth_step" class="steps" style="display: none">
                    <h1>Step 4 - Extraction</h1>
                    <h4>After the choice of the tables, and the possible pre-processing, we are ready for the extraction!
                    Please click the extraction button</h4>
                    <button onclick="javascript:performExtraction()">Perform the extraction</button>
                </div>
                <div id="last_step" class="steps" style="display: none">
                    <h1>Step 5 - Postprocessing</h1>
                    <h4>At this point, the log has been extracted. Please select one of the option in order to
                    exploit the information that has been extracted.</h4>
                    <div id="last_step_download_log">
                        <button onclick="javascript:downloadLog()">Download log</button>
                    </div>
                    <div id="view_mvp_model">
                        <button onclick="javascript:viewMvpModel()">View MVP model</button>
                    </div>
                    <div id="flatten_event_log">

                        <button onclick="javascript:flattenEventLog()">Flatten Event Log</button>
                    </div>
                </div>
            </div>
    </body>
	<script type="text/javascript">
	    selected_tables = {};
	    step1_initialized = false;
	    extracted_filename = "";
	    extract_obj_types = null;

	    function getSelectedTables() {
	        let ret = [];
	        for (let table in selected_tables) {
	            if (selected_tables[table]) {
	                ret.push(table);
	            }
	        }
	        return ret;
	    }

        function getBasicParameters() {
            let parameters = {};
            parameters["db_type"] = "oracle";
            parameters["db_con_args"] = {};
            parameters["db_con_args"]["hostname"] = document.getElementById("oracle_hostname").value;
            parameters["db_con_args"]["port"] = document.getElementById("oracle_port").value;
            parameters["db_con_args"]["sid"] = document.getElementById("oracle_sid").value;
            parameters["db_con_args"]["username"] = document.getElementById("oracle_username").value;
            parameters["db_con_args"]["password"] = document.getElementById("oracle_password").value;
            parameters["mandt"] = document.getElementById("mandt").value;
            return parameters;
        }

        function encodeParameters(obj) {
        	obj = JSON.stringify(obj);
			obj = btoa(obj);
			return obj;
        }

        function connect() {
            let parameters = getBasicParameters();
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorCheckConnection?parameters="+parameters,
                function(data) {
                    gotopage('first_step');
                }
            ).fail(function(error) { alert("connection was unsuccessful"); });
        }

        function getTableSize(tabname) {
            let parameters = getBasicParameters();
            parameters["table"] = tabname;
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorGetTableCount?parameters="+parameters,
                function(data) {
                    document.getElementById(tabname+"_size").innerHTML = data["count"];
                }
            );
        }

        function getMainObjectClasses() {
            let parameters = getBasicParameters();
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorGetMainObjectClasses?parameters="+parameters,
                function(data) {
                    let dataarray = [];
                    for (let obj_clas_name in data) {
                        dataarray.push([obj_clas_name, data[obj_clas_name]]);
                    }
                    dataarray.sort(function(a, b) { return b[1]-a[1] });
                    for (let idx in dataarray) {
                        let couple = dataarray[idx];
                        let objclasdiv = document.createElement("div");
                        objclasdiv.innerHTML = couple[0]+" ("+couple[1]+")";
                        objclasdiv.onclick = function() {
                            addTablesForObjectClass(couple[0]);
                        }
                        document.getElementById("main_object_classes").appendChild(objclasdiv);
                    }
                }
            );
        }

        function initializeStep1() {
            if (step1_initialized == false) {
                 getTableSize("EKKO");
                 getTableSize("RBKP");
                 getTableSize("VBAK");
                 getTableSize("BKPF");
                 getMainObjectClasses();
                 step1_initialized = true;
             }
        }

        function addTablesForObjectClass(objectclass) {
            let parameters = getBasicParameters();
            parameters["objectclass"] = objectclass;
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorGetMainTablesPerObjectClass?parameters="+parameters,
                function(data) {
                    for (let idx in data["obj_class_tables"]) {
                        let table = data["obj_class_tables"][idx];
                        if (selected_tables[table] == null) {
                            selected_tables[table] = true;
                        }
                        else if (!selected_tables[table]) {
                             selected_tables[table] = true;
                        }
                        updateTableSelection('1_obj');
                    }
                }
            );
        }

        function changeSelection(table, from_step) {
            if (selected_tables[table] == null) {
                selected_tables[table] = false;
            }
            selected_tables[table] = !selected_tables[table];
            updateTableSelection(from_step);
        }

        function updateTableSelection(from_step) {
            for (let tab in selected_tables) {
                updateTableSelectionStep1_1(tab, selected_tables[tab], from_step);
                updateTableSelectionStep1_2(tab, selected_tables[tab], from_step);
                updateTableSelectionStep2(tab, selected_tables[tab], from_step);
            }
        }

        function updateTableSelectionStep1_1(tab, is_selected, from_step) {
            if (from_step != '1_1') {
                let checkbox = document.getElementById(tab+"_AAAAAAAAA_selected_step1_1");
                if (checkbox != null) {
                    checkbox.checked = is_selected;
                }
            }
        }

        function updateTableSelectionStep1_2(tab, is_selected, from_step) {
              if (from_step != '1_2') {
                   let checkbox = document.getElementById(tab+"_AAAAAAAAA_selected_step1_2");
                   if (checkbox == null) {
                        checkboxdiv = document.createElement("div");
                        checkboxdiv.setAttribute("id", tab+"_AAAAAAAAA_div_1_2");
                        checkbox = document.createElement("input");
                        checkbox.setAttribute("type", "checkbox");
                        checkbox.setAttribute("id", tab+"_AAAAAAAAA_selected_step1_2");
                        checkbox.onclick = function() { changeSelection(tab, '1_2'); };
                        checkboxspan = document.createElement("span");
                        checkboxspan.innerHTML = tab;
                        checkboxdiv.appendChild(checkbox);
                        checkboxdiv.appendChild(checkboxspan);
                        document.getElementById("step1_2").appendChild(checkboxdiv);
                   }
                   checkbox.checked = is_selected;
              }
        }

        function updateTableSelectionStep2(tab, is_selected, from_step) {
            if (from_step != '2') {
                let checkbox = document.getElementById(tab+"_AAAAAAAAA_selected_step2");
                if (checkbox == null) {
                        checkboxdiv = document.createElement("div");
                        checkboxdiv.setAttribute("id", tab+"_AAAAAAAAA_div_2");
                        checkbox = document.createElement("input");
                        checkbox.setAttribute("type", "checkbox");
                        checkbox.setAttribute("id", tab+"_AAAAAAAAA_selected_step2");
                        checkbox.onclick = function() { changeSelection(tab, '2'); };
                        checkboxspan = document.createElement("span");
                        checkboxspan.innerHTML = tab;
                        checkboxdiv.appendChild(checkbox);
                        checkboxdiv.appendChild(checkboxspan);
                        document.getElementById("step2").appendChild(checkboxdiv);
                }
                checkbox.checked = is_selected;
            }
        }

        function expand() {
            let selected_ones = getSelectedTables();
            let parameters = getBasicParameters();
            parameters["tabnames"] = selected_ones;
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorExpandTables?parameters="+parameters,
                function(data) {
                    for (let idx in data["expanded_tables"]) {
                        table = data["expanded_tables"][idx];
                        if (selected_tables[table] == null) {
                            selected_tables[table] = false;
                        }
                    }
                    updateTableSelection('2_2');
                }
            );
        }

        function getPreprocessingParameters() {
            let selected_ones = getSelectedTables();
            let parameters = getBasicParameters();
            parameters["tabnames"] = selected_ones;
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorGetPrimaryKeys?parameters="+parameters,
                function(data) {
                    let parent = document.getElementById("step3");
                    while (parent.firstChild) {
                        parent.removeChild(parent.firstChild);
                    }
                    for (let idx in data["primary_keys"]) {
                        let pk = data["primary_keys"][idx];
                        if (pk != "MANDT") {
                            let pk_div = document.createElement("div");
                            let pk_span = document.createElement("span");
                            let pk_input = document.createElement("input");
                            pk_span.innerHTML = pk;
                            pk_input.setAttribute("type", "text");
                            pk_input.classList.add("pkInput");
                            pk_input.setAttribute("id", pk+"_BBBBBBBBBBBB_value");
                            pk_button = document.createElement("button");
                            pk_button.textContent = "See values";
                            pk_button.onclick = function() { getAllValuesForAField(pk); };
                            pk_div.appendChild(pk_span);
                            pk_div.appendChild(pk_input);
                            pk_div.appendChild(pk_button);
                            parent.appendChild(pk_div);
                        }
                    }
                }
            );
        }

        function getAllValuesForAField(fname) {
            let parameters = getBasicParameters();
            let selected_ones = getSelectedTables();
            parameters["fname"] = fname;
            parameters["tabnames"] = selected_ones;
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorGetPrimaryKeyValue?parameters="+parameters,
                function(data) {
                    let parent = document.getElementById("step3_values");
                    while (parent.firstChild) {
                        parent.removeChild(parent.firstChild);
                    }
                    let values = data["values"];
                    for (let idx in values) {
                        let val = values[idx];
                        let valdiv = document.createElement("div");
                        valdiv.innerHTML = val;
                        parent.appendChild(valdiv);
                    }
                }
             );
        }

        function getPreprocessingParametersValues() {
            let ret = {};
            for (let idx in document.getElementsByClassName("pkInput")) {
                try {
                    field = document.getElementsByClassName("pkInput")[idx];
                    field_id = field.getAttribute("id");
                    field_value = field.value;
                    if (field_value.length > 0) {
                        ret[field_id] = field_value;
                    }
                }
                catch (err) {
                }
            }
            ret["MANDT"] = document.getElementById("mandt").value;
            return ret;
        }

        function performExtraction() {
            let parameters = getBasicParameters();
            let selected_ones = getSelectedTables();
            parameters["tabnames"] = selected_ones;
            parameters["key_spec"] = getPreprocessingParametersValues();
            parameters = encodeParameters(parameters);
            $.get("http://localhost:5000/newExtractorPerformExtraction?parameters="+parameters,
                function(data) {
                    console.log(data);
                    extracted_filename = data["file_name"];
                    extract_obj_types = data["obj_types"];
                    postprocessObjTypes();
                    gotopage('last_step');
                }
            );
        }

        function downloadLog() {
             let parameters = getBasicParameters();
             parameters["file_name"] = extracted_filename;
             parameters = encodeParameters(parameters);
             window.open("http://localhost:5000/newExtractorDownloadLog?parameters="+parameters);
        }

        function viewMvpModel() {
            let parameters = getBasicParameters();
            parameters["file_name"] = extracted_filename;
            parameters = encodeParameters(parameters);
            window.open("http://localhost:5000/newExtractorDownloadSvg?parameters="+parameters);
        }

        function flattenEventLog() {

        }

        function postprocessObjTypes() {
        }

        function gotopage(page) {
              for (let idx in document.getElementsByClassName("steps")) {
                    try {
                         this_div = document.getElementsByClassName("steps")[idx];
                         this_div.style.display = 'none';
                    }
                    catch (err) {
                    }
              }
              this_div = document.getElementById(page);
              this_div.style.display = '';
        }

        initializeStep1();
    </script>
</html>
